
<div class="signup-container">
    <div class="signup-card">
      <h2>Create Your Account</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-row">
        <div class="form-group">
          <label for="fullname">Full Name</label>
          <input
            type="text"
            id="fullname"
            name="fullname"
            placeholder="Enter your full name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
          <label for="organization">
            Organization
          </label>
          <input
            type="text"
            id="organization"
            name="organization"
            placeholder="Enter organization"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Create a password"
            required
          />
          </div>
        </div>
        <div class="form-row">
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            placeholder="Confirm your password"
            required
          />
        </div>
        <div class="form-group">
            <label for="public-key">Public Key</label>
            <input
              type="password"
              id="public-key"
              name="public-key"
              placeholder="Enter you Public Key"
              required
            />
          </div>
          </div>
        <button type="submit" class="signup-button">Sign Up</button>
      </form>
      <p class="login-text">
        Already have an account? <a routerLink="/login">Log in</a>
      </p>
    </div>
  </div>
  