<div class="signup-container">
  <div class="signup-card">
    <h2 style="font-family: 'Anton', sans-serif; font-size: 28px; color: white;">Create Your Account</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label for="fullname">Organization Name</label>
          <input
            type="text"
            id="fullname"
            name="fullname"
            placeholder="Enter your organization's full name"
            [(ngModel)]="Orgname"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            [(ngModel)]="Orgemail"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="organization"> Organization Position </label>
          <input
            type="text"
            id="organization"
            name="organization"
            placeholder="Enter organization"
            [(ngModel)]="OrgPosition"
            required
          />
        </div>
        <div class="form-group">
          <label for="city"> City </label>
          <input
            type="text"
            id="city"
            name="city"
            placeholder="Enter city"
            [(ngModel)]="city"
            required
          />
        </div>
        <div class="form-group">
          <label for="country"> Country </label>
          <input
            type="text"
            id="country"
            name="country"
            placeholder="Enter country"
            [(ngModel)]="country"
            required
          />
        </div>
        <div class="form-group">
          <label for="PostalCode"> Postal Code </label>
          <input
            type="text"
            id="PostalCode"
            name="PostalCode"
            placeholder="Enter PostalCode"
            [(ngModel)]="PostalCode"
            required
          />
        </div>
        <div class="form-group">
          <label for="AboutOrg"> About Orgaanization </label>
          <input
            type="text"
            id="AboutOrg"
            name="AboutOrg"
            placeholder="Enter AboutOrg"
            [(ngModel)]="AboutOrg"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Create a password"
            [(ngModel)]="password"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            placeholder="Confirm your password"
            required
          />
        </div>
        <div class="form-group">
          <label for="public_key">Public Key</label>
          <input
            type="password"
            id="public_key"
            name="public_key"
            placeholder="Enter you Public Key"
            [(ngModel)]="public_key"
            required
          />
        </div>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="submit" class="signup-button">Sign Up</button>
    </form>
    <p class="login-text">
      Already have an account? <a routerLink="/login">Log in</a>
    </p>
  </div>
</div>
