


<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <lbd-chart
            [title]="'IOC Detection Stats'"
            [subtitle]="'Indicators of Compromise from last sync'"
            [chartClass]="'ct-perfect-fourth'"
            [chartType]="iocChartType"
            [chartData]="iocChartData"
            [legendItems]="iocChartLegendItems"
            [withHr]="true"
            [footerIconClass]="'fa fa-shield'"
            [footerText]="'Data from latest threat feed sync'">
          </lbd-chart>
        </div>
        <div class="col-md-8">
          <lbd-chart
            [title]="'Node Activity'"
            [subtitle]="'Last 24h participation in threat exchange'"
            [chartType]="nodeChartType"
            [chartData]="nodeChartData"
            [chartOptions]="nodeChartOptions"
            [chartResponsive]="nodeChartResponsive"
            [legendItems]="nodeChartLegendItems"
            [withHr]="true"
            [footerIconClass]="'fa fa-network-wired'"
            [footerText]="'Updated moments ago'">
          </lbd-chart>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <lbd-chart
            [title]="'Threat Alert Trends'"
            [subtitle]="'Volume of alerts shared via blockchain (monthly)'"
            [chartType]="alertChartType"
            [chartData]="alertChartData"
            [chartOptions]="alertChartOptions"
            [chartResponsive]="alertChartResponsive"
            [legendItems]="alertChartLegendItems"
            [withHr]="true"
            [footerIconClass]="'fa fa-bug'"
            [footerText]="'All alerts verified via consensus'">
          </lbd-chart>
        </div>
  
        <div class="col-md-6">
          <!-- CTI Task Tracker -->
          <!-- <div class="card">
            <div class="header">
              <h4 class="title">Intel Tasks</h4>
              <p class="category">Ongoing Threat Analysis</p>
            </div>
            <div class="content">
              <div class="table-full-width">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="checkbox">
                          <input id="task1" type="checkbox" />
                          <label for="task1"></label>
                        </div>
                      </td>
                      <td>Verify new ransomware IOCs from feed</td>
                      <td class="td-actions text-right">
                        <button class="btn btn-info btn-simple btn-xs" title="Edit Task"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger btn-simple btn-xs" title="Remove"><i class="fa fa-times"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox">
                          <input id="task2" type="checkbox" checked />
                          <label for="task2"></label>
                        </div>
                      </td>
                      <td>Analyze suspicious wallet addresses shared via network</td>
                      <td class="td-actions text-right">
                        <button class="btn btn-info btn-simple btn-xs" title="Edit Task"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger btn-simple btn-xs" title="Remove"><i class="fa fa-times"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox">
                          <input id="task3" type="checkbox" />
                          <label for="task3"></label>
                        </div>
                      </td>
                      <td>Correlate phishing indicators with DNS logs</td>
                      <td class="td-actions text-right">
                        <button class="btn btn-info btn-simple btn-xs" title="Edit Task"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger btn-simple btn-xs" title="Remove"><i class="fa fa-times"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox">
                          <input id="task4" type="checkbox" />
                          <label for="task4"></label>
                        </div>
                      </td>
                      <td>Review node consensus logs for inconsistencies</td>
                      <td class="td-actions text-right">
                        <button class="btn btn-info btn-simple btn-xs" title="Edit Task"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-danger btn-simple btn-xs" title="Remove"><i class="fa fa-times"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="footer">
                <hr />
                <div class="stats">
                  <i class="fa fa-history"></i> Synced 2 minutes ago
                </div>
              </div>
            </div>
          </div> -->
          <!-- End CTI Tasks -->
        </div>
      </div>
    </div>
  </div>
  